.about-me-img {
	align-self: center;
	border-radius: 100%;
	width: 300px;
	margin: 10px;
}

.about-me-img:empty {
	/* background: grey; */
	align-self: center;
	border-radius: 100%;
	background-image: linear-gradient(grey, grey);
	background-size: 100% 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 300px;
	margin: 10px;
}

.about-me-profile-card-wrapper {
	display: flex;
	flex-direction: column;
}

.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px 0;
	border: solid 3px #eee;
	width: 100%;
}

.skills h2 {
}
.about-me-bio {
	width: 95%;
	align-self: center;
}

.skills-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skill-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	padding: 0;
	margin: 0;
}

.skill {
	color: black;
}

.tech {
	color: black;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	margin: 15px;
}
/* main button {
	width: 100%;
	background: white;
	font-size: x-large;

	border-style: solid;
	border-color: rgb(240, 236, 236);
	border-radius: 15%;
	margin: 1px;
	box-shadow: 3px 3px 3px #949494;
} */

.about-me-wrapper {
	display: flex;
	/* flex-direction: column; */
	width: 80%;
	/* align-items: center; */
	align-self: center;
	margin-top: 5px;
}

.download {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.button {
	background: black;
	border: none;
	color: white;
	width: 250px;
	height: 40px;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.about-me-goals {
	text-decoration-style: wavy;
}

.goal {
	list-style: disc;
}

.tech img {
	width: 125px;
	height: 125px;
	object-fit: contain;
}

@media (max-width: 600px) {
	.about-me-wrapper {
		flex-direction: column;
	}
}

@media (max-width: 450px) {
	.about-me-img {
		width: 100%;
	}

	.about-me-wrapper {
		width: 100%;
	}
}
