.blog__wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog__inner-width {
  width: 100%;
  height: 100%;
}

.blog__page-wrapper {
  display: flex;
  height: 100%;
}

.blog__article-section {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 70%;
}

.blog__user-mini-card {
  width: 30%;
  border: 1px solid black;
}
