.button-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  height: 25px;
  /* margin-bottom: -18px; */
  padding-bottom: 2px;

  /* background: grey; */
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.button-container button {
  display: flex;
  opacity: 0;
  justify-content: center;

  width: 100%;
  background: white;
  font-size: x-large;

  border: 1px solid grey;
  /* border-radius: 15%; */
  margin: 1px;
  /* box-shadow: 3px 3px 3px #949494; */
  align-items: center;
}

.button-container button:hover {
  background-color: lightgray;
  opacity: 0.4;
  transition: 0.1s linear;
}

.button-container button img:hover {
  color: white;
}

.button-container button img {
  width: 20px;
  height: 20px;
}
