footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.footer-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.footer-nav-menu {
	display: flex;
}

.footer-ul {
	color: white;
	font-size: small;
}

.footer-ul a {
	color: white;
	font-weight: 600;
}

.footer-ul a li {
	margin: 5px 0;
	font-weight: 300;
}

.footer-contact-info {
	color: white;
}

@media (max-width: 768px) {
	footer {
		flex-direction: column;
	}
	.footer-wrapper {
		flex-direction: column;
	}

	.footer-nav-menu {
		/* flex-direction: column; */
	}
}

@media (max-width: 670px) {
	.footer-nav-menu {
		flex-direction: column;
	}
}
