.ux-page-wrapper {
    display: flex;
    justify-content: center; 
    padding-top: 50px;
}
.ux-main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.ux-element-wrapper{
    display: flex;
}