/*Desktop*/
.ux-page-wrapper {
	display: flex;
	flex-direction: column;

	align-items: center;
	background: black;
}
.ux-main-wrapper {
	padding-top: 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
}

.ux-elements-wrapper {
	display: flex;
}

.page-width {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 97%;
	bottom: 97%;
	background: white;
}

header {
	width: 100%;
}

label {
	color: white;
}

footer {
	background: black;

	width: 100%;
}
/*Tablet*/

/*Mobile*/
