/*Desktop*/
.ux-page-wrapper {
    display: flex;
    justify-content: center; 
    background: black;
}
.ux-main-wrapper {
    padding-top: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.ux-element-wrapper{
    display: flex;
}

.page-border{
    width: 97%;
    bottom: 97%;
    background: white;
}
/*Tablet*/

/*Mobile*/
