header {
	display: flex;
	justify-content: center;
}

.nav {
	position: fixed;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* background-color: black; */
	z-index: 1000;

	width: 80%;
}

ul.nav-content {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: space-around;

	/* FIX: width to be adjusted with various display sizes with media queiries or implement a new location implementation*/
	/* width: 60%; */

	padding: 0;
}

li.nav-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* li.nav-item,
a.button {
	margin-left: 20px;
	margin-right: 20px;
} */

.arrow {
	position: absolute;
	width: 20px;
	height: 20px;
	display: block;
	background: white;
	transform: translateY(-50%) rotate(45deg);
}

.dropdown-list {
	display: none;
	width: 125px;
	margin-top: 20px;
	padding: 0;
	text-align: center;
	transition: all 0.8s;
}

.dropdownBackground {
	width: 100px;
	height: 100px;
	position: absolute;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
		0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s, opacity 0.1s, transform 0.2s;
	transform-origin: 50% 0;
	display: flex;
	justify-content: center;
	opacity: 0;
}

li {
	color: white;
	list-style: none;
	margin: 5px;
}

.dropdown-item {
	color: black;
}

a {
	text-decoration: none;
}

a.button {
	background-color: black;
	width: 125px;
	height: 40px;
	text-align: center;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 900px) {
	ul {
		width: 50%;
	}
}

@media (max-width: 500px) {
	ul {
		flex-wrap: wrap;
	}
}
