footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  width: 100%;
}

.footer-contact-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-contact-info p {
  color: white;
}

.footer-contact-info .social-nav {
  width: 30%;
}

.footer-signature {
  margin: 50px 0 0 0;
}

@media (max-width: 450px) {
  .footer-contact-info {
    flex-direction: column;
    align-items: center;
  }
}
