.about-me-page-wrapper {
	display: flex;
	align-items: center;
	background: black;
}

.about-me-wrapper {
	padding-top: 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
}

.about-me-img {
    align-self: center;
    border-radius: 100%;
	width: 300px;
}


@media (max-width: 450px) {
	.about-me-img {
		width: 100%;
	}
}
