.about-me-page-wrapper {
    display: flex;
    align-items: center;    background: black;
}
.about-me-wrapper {
    padding-top: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.about-me-img {
    width: 20%;
}

.page-width{
    width: 97%;
    background: white;
}
