.about-me-page-wrapper {
	display: flex;
	justify-content: center;
	background: black;
}

.about-me-wrapper {
	padding-top: 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
}

.about-me-img {
	align-self: center;
	border-radius: 100%;
	width: 300px;
}

main button {
	width: 100%;
	background: white;
	font-size: x-large;

	border-style: solid;
	border-color: rgb(240, 236, 236);
	border-radius: 15%;
	margin: 1px;
	box-shadow: 3px 3px 3px #949494;
}

@media (max-width: 450px) {
	.about-me-wrapper {
		padding-top: 80px;
	}
	.about-me-img {
		width: 100%;
	}
}
