/*Desktop*/

.project-page-wrapper {
    display: flex;
    justify-content: center; 
    background: black;
}
.project-main-wrapper {
    padding-top: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.project-element-wrapper {
    display: flex;
    /* justify-content: space-between; */
}

.page-border{
    width: 97%;
    bottom: 97%;
    background: white;
}

/*Tablet*/

/*Mobile*/
