/*Desktop*/

.project-page-wrapper {
	display: flex;
	flex-direction: column;

	align-items: center;
	background: black;
}
.project-main-wrapper {
	padding-top: 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
}

.project-elements-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.page-width {
	width: 97%;
	bottom: 97%;
	align-items: center;

	background: white;
}

header {
	width: 100%;
}

label {
	color: white;
}

footer {
	background: black;

	width: 100%;
}

/*Tablet*/

/*Mobile*/
