/*Desktop*/
.page-wrapper {
	display: flex;
	flex-direction: column;

	align-items: center;
	background: black;
}
.main-wrapper {
	padding-top: 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
}

.elements-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.page-width {
	display: flex;
	flex-direction: column;
	align-items: center;

	background: white;

	width: 97%;
}

header {
	width: 100%;
}

label {
	color: white;
}

footer {
	background: black;

	width: 100%;
}
/*Tablet*/

@media (max-width: 1235px) {
	.elements-wrapper {
		justify-content: center;
	}
}

/*Mobile*/
