.button-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.button-container button {
	display: flex;
	justify-content: center;

	width: 100%;
	background: white;
	font-size: x-large;

	border-style: solid;
	border-color: rgb(240, 236, 236);
	border-radius: 15%;
	margin: 1px;
	box-shadow: 3px 3px 3px #949494;
}
