.thumbnail-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    border: 2px solid grey;

    margin-left: 1%;
    margin-right: 1%;
}

.thumbnail-wrapper {
    width: 90%;
}

.thumbnail-img {
    object-fit: none;
    height: 300px;
    width: 100%;
}

.button-container{
    display: flex;
    justify-content: space-between;
}


