.thumbnail-page-wrapper {
	display: flex;
	/* position: relative;
	z-index: 0; */
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: white;
	border: 5px solid rgb(240, 236, 236);
	box-shadow: 5px 5px 5px #949494;

	margin: 0.5%;
	width: 245px;
	height: 345px;

	/* transition: all .1s ease-in-out; */
}

.thumbnail-page-wrapper:hover {
	transform: scale(1.05);
}

.thumbnail-wrapper {
	width: 90%;
}

.thumbnail-img {
	object-fit: cover;
	height: 250px;
	width: 100%;
	margin: 0;
	border: 1px solid black;
}

.thumbnail-title {
	margin: 0px;
}

.fade {
	/* opacity: 0; */
	transition: all 0.5s;
}
