.profile-card {
	/* align-self: center; */
	/* position: fixed; */
	background: rgba(255, 255, 255, 0.5);
	/* top: 95px; */
	/* right: 30px; */
	/* border: 3px solid white; */
	box-shadow: 0 0 50px 15px black;
	border-radius: 5px;
	width: 250px;
}

.profile-card-img {
    width: 225px;
    height: 225px;
	object-fit: cover;	
	border-radius: 50%;
	margin-top: 10px;
}

.profile-card h1 {
	width: 100%;
	padding: 0;
	margin: 10px 0px;
	background: black;
	color: white;
	height: fit-content;
	line-height: unset;
}

.profile-card a {
	text-decoration: none;
}

@media (max-width: 696px) {
	.landing-page-a {
		/* top: 70%; */
	}
}